@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@500&display=swap');
*{
	margin: 0px;
	padding: 0px;
}
#okvir { 
	background-color: #f0f0f0;
	width: 100%;
}
header {
	margin: 0px auto;
	padding: 10px 10px;
	box-shadow: 2px 3px #e2e2e2;
}
#logo {
	float: left;	
}
#logo img{
	margin-left: 60px;
	float: left;
	height:60px;
	width:60px;
}
nav ul {
	margin: 20px 100px;
	list-style-type: none;
	text-align: right;
	font-family: 'Sansita Swashed', cursive; 
}
nav ul li {
	display: inline-block;
	width: 100px;
    padding: 0px 10px;
}
nav ul li a {
	color: #343131;
	text-decoration: none;
	font-size: 22px;
	font-weight: 500;
}
nav ul li a:hover {
	color: #c2c2c2;
}
.cleaner{
	clear: both;
}
#cover-slika {
	background-image: url("../images/cover.jpg");
	height: 600px;
	background-repeat:  no-repeat;
	background-size: cover;
	background-position: center;
	position: relative;
	background-attachment: fixed;
}
.transparentna-boja{
	height: inherit;
	background-color: rgba(0, 0, 0, 0.1);
}
.naslov {
	width: 25%;
	background-color: rgba(0, 0, 0, 0.3);
	text-align: center;
	padding: 80px 0px;	
	animation: naslov 3s;
	position: absolute; 
	top: 70%; 
	left: 5%;
}
@keyframes naslov{
  0%   {top:0; left: 0;}
  50%  {position: absolute; top: 80%; left: 5%;}
  100% {position: absolute; top: 70%; left: 5%;}
}
.naslov h1 {
	color: #e3dcd3;
	text-align: center;
	font-size: 50px;
	font-family: italic;
	margin: 1%;
}
.naslov:hover {
  width: 40%;
}
#naslov2 {
	margin-top: 90px;
	padding: 20px;
}
#sadrzaj{
	width: 100%;
	height: inherit;
	background-color: #c4c4c4;
	margin-bottom: 5%;
	padding: 1% 0%;
}
#naslovPrviPocetna h2 {
	width: 40%;
	color: #424242;
	font-size: 50px;
	text-align: center;
	margin: 5% auto;
	letter-spacing: 2px;
	font-family: 'Sansita Swashed', cursive; 
	box-shadow: 2px 1px #424242;
}
.slikaSadrzaj {
	width: 31.2%;
	float: left;
	margin: 2% 1%;
}
.slikaSadrzaj img:hover {
  transform: scale(1.05); 
}
#sadrzaj span {
	width: 100%;
	height: 100px;
}
#sadrzaj span p {
	text-align: center;
	font-weight: bold;
	letter-spacing: 2px;
	font-size: 20px;
	color: #3d3c3a;
	border-bottom: 1px solid #3d3c3a;
	margin: 2% 3% 5% 3%;
}
#tekstLeveSlike{
	width:100%;
	text-align:center;
}
#tekstLeveSlike h3{
	width: 40%;
	color: #424242;
	font-size: 40px;
	text-align: center;
	margin: 2% auto;
	letter-spacing: 2px;
	font-family: 'Sansita Swashed', cursive; 
	box-shadow: 2px 1px #424242;
}
#kolone {
	width: 100%;
	height: inherit;
}
.redovi{
	width: 48%;
	margin: 1% 1% 3% 1%;
	height:400px;
	float:left;
	background-color:#c4c4c4;
	border-radius: 4%;
}
.redovi h4 {
	color: #424242;
	font-size: 30px;
	text-align: center;
	margin-top: 6%;
	letter-spacing: 2px;
	font-family: 'Sansita Swashed', cursive; 			
}
.redovi p {
	padding: 5% 5% 0% 5%;
	text-align: justify ;
	font-size: 20px;
}	
/*footer*/
footer {
    background-color:#424242;
    color:#fff;
    padding:20px 50px 20px 50px;
    text-align:right;
}
footer a{
	float:left;
	margin-left: 1%;
	margin-right: 1%;
}
footer i { 
	color: white;
}
/* o nama*/
.delovi_1 {
	width: 100%;
	height: auto;
	margin-top: 2%;
}
.slikaSadrzaj2 {
	width: 31.2%;
	float: left;
	margin: 2%;
}
.slikaSadrzaj2 img:hover {
	box-shadow: 3px 3px #999999;
}
.opis_vrsta {
	width: 50%;
	float: right;
	margin: 2%;
}
.naslov_vrsta h2 {
	text-align: center;
	font-family: 'Sansita Swashed', cursive;
	color: #676985; 
	font-size: 35px;
	letter-spacing: 2px;
	text-shadow: 1px 1px;
}
.tekst_vrsta {
	padding: 10px;	
}
.tekst_vrsta p{
	font-size: 18px;
	font-family: verdana;
}
.slovo {
	color: #676985; 
	font-size: 40px;
	text-shadow: 1px 1px;
}
.delovi_2 {
	width: 100%;
	height: auto;
}
.slikaSadrzaj3 {
	width: 31.2%;
	height: auto;
	float: right;
	margin: 2%;
}
.slikaSadrzaj3 img:hover {
	box-shadow: 3px 3px #999999;
}
.opis_vrsta2 {
	width: 50%;
	float: left;
	margin-top: 3%;
}
.naslov_vrsta2 h2 {
	text-align: center;
	font-family: 'Sansita Swashed', cursive;
	color: #676985; 
	font-size: 35px;
	letter-spacing: 2px;
	text-shadow: 1px 1px;
	margin-bottom: 2%;
}
.tekst_vrsta2 {
	padding: 10px;
	margin-left: 2%;	
}
.tekst_vrsta2 p{
	font-size: 18px;
	font-family: verdana;
}
.rec {
	color: #676985; 
	font-weight: 600;
	font-size: 20px;
}
/* cenovnik */
.meni .meniBlok{
	margin: 5% auto;
	width: 80%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #fff;
	padding: 15px 10px;
}
.meni .meniBlok .cene{
	width: 60%;
	display:flex;
	flex-direction: column;
	justify-content: space-around; 
}
.meni .meniBlok .cene .cena{
	width: 80%;
	margin: 10px auto;
	display: flex;
	padding: 10px 0px;
	justify-content: space-between; 
	color: black;
	font-size: 18px;
	border-bottom: 2px solid #e2e2e2;
}
.meni .meniBlok .cene .cena .slikaZaMeni {
	width: 40%;
	display: flex;
	align-items: center;
}
/* galerija*/
.galerijaNaslov  {
	margin: 3%;
	text-align: center;
	font-size: 20px;
	font-family: 'Sansita Swashed', cursive;
	letter-spacing: 1px;	
}
#galerija {
	margin-left: 20%;
	margin-bottom: 4%;
	
}
.slike {
	display: block;
	float: left;
	width: 25%;
	padding: 10px 10px 10px 12px;
}
.slike img {
	width:100%;
	height:400px;
	object-fit:cover;
}
.slike:hover {
	transform: scale(1.10);
	transition: .3s transform;
}
/*kontakt*/
#kontakt {
 	padding-left:15%;
}
#forma {
	width:35%;
	margin: 3% 3% 5% 3%;
	height: inherit;
	border-radius: 5px;
    background-color: #f9faf2;
	float: left;
    color: #343131 ;
    font-size: 20px;
}
#forma form {
	padding: 20px;
	display: flex;
	flex-direction: column;
}
input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px auto;
  justify-content: center;
  box-sizing: border-box;
  border: 2px solid #676985;
  border-radius: 3px;
  background-color: transparent;
}
input[type=submit] {
  width: 50%;
  background-color: #373b7fc7;
  color: white;
  padding: 14px 20px;
  margin: 8px auto;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
input[type=submit]:hover {
  background-color: #373b7f87;
}
#forma form #VasaPoruka {
    resize: none;
	height: 100px;
	background-color: transparent;
	font-size: 18px;
	padding: 6px 20px;
	border: 2px solid  #676985;
	border-radius: 3px;
	margin-top: 8px;
}
#info {
	margin: 3% 3% 4% 0% ;
	padding: 40px;
    width: 25%;
    text-align: center;
	float:left;
    border-radius: 5px;
    background-color: #c2c5de57;
	font-size: 18px;
}
#info i {
    font-weight: 600;
	font-size: 20px;
}
.fontIkonica {
	margin: 2%;
}
#mapa {
    position: absolute;
    top: 69%;
    left: 50%;
}
/*autor*/
#slikaAutor {
	width: 25%;
	margin: 5% 5%;
	float: left;
}
#slikaAutor img {
	width: 100%;	
}
#tekstAutor {
	width: 30%;
	margin: 8% 5% 5% 5%;
	float: left;
	background-color: #f9faf2;
	padding: 2%;
	border-radius: 5px;
}
#tekstAutor h1 {
	text-align: center;
	margin-bottom: 10%;
	box-shadow: 2px 3px #e2e2e2;
}
#tekstAutor p {
	font-size: 18px;
	letter-spacing: 1px;
	line-height: 50px;
	padding-left: 3%;
	box-shadow: 0px 1px #e2e2e2;
}

